---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sesame-alert01-{{ item }}
  namespace: sesame
spec:
  selector:
    matchLabels:
      app: sesame-alert01-{{ item }}
  replicas: 1
  template:
    metadata:
      labels:
        app: sesame-alert01-{{ item }}
    spec:
      containers:
      - name: sesame-alert01-{{ item }}
        image: msimonin/sesame_alert01:latest
        env:
        - name: PYTHONUNBUFFERED
          value: "1"
        args:
        - --bootstrap_servers
        - sesame-kafka.sesame:9092
        - "{{ item }}"
